---
layout: default
---
<ul class="list list-unstyled">
{% for post in site.posts %}
    <li style="margin: 5px;">
      <a href="{{ post.url }}"><span style="display: inline-block;width: 100px;margin-right: 10px;">{% if post.image %}<img src="{{ post.image }}" style="max-width: 100px;max-height: 69px;">{% endif %}</span><span class="title">{{ post.title }}</span></a>
    </li>
{% endfor %}
</ul>

<!--
{% for i in (1..10) %}
{{ i }}<br>
{% endfor %}

Hello World!
<img src="https://cloud.githubusercontent.com/assets/7868635/9838279/e7a807aa-5a59-11e5-9b13-d31959067028.png" alt="moe-595960_640.png">
-->
