---
---
<html>
<head>
<link rel="shortcut icon" href="/favicon.ico?" type="image/x-icon">
<link rel="icon" href="/favicon.ico?" type="image/x-icon">
<title>Hello World!</title>
</head>
<body>
  
<ul>
{% for post in site.posts %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
{% endfor %}
</ul>

{% for i in (1..10) %}
{{ i }}<br>
{% endfor %}

Hello World!
<img src="https://cloud.githubusercontent.com/assets/7868635/9838279/e7a807aa-5a59-11e5-9b13-d31959067028.png" alt="moe-595960_640.png">
</body>
</html>
