---
layout: default
---
<ul class="list-unstyled">
{% for post in site.posts %}
    <li style="margin: 5px;">
      <a href="{{ post.url }}"><span style="display: inline-block;width: 100px;">{% if post.image %}<img src="{{ post.image }}" width="100px">{% endif %}</span>{{ post.title }}</a>
    </li>
{% endfor %}
</ul>

<!--
{% for i in (1..10) %}
{{ i }}<br>
{% endfor %}

Hello World!
<img src="https://cloud.githubusercontent.com/assets/7868635/9838279/e7a807aa-5a59-11e5-9b13-d31959067028.png" alt="moe-595960_640.png">
-->
